/*<Autor: Jelena PanÄevski*/
.Body{
    display: inline-block;
    padding-left:3%;
    padding-right: 2.5%;
    margin: 20px;
    position: relative;
    text-align: left;
    margin-top: 0px;
    /*background-color: rgb(147, 217, 226);*/
}
h1{ margin-top: 0px;
    padding-top: 0px;
    margin-bottom:5px;
    color:#606770;
    /*display:blockinline*/;
}
.Title
{
    border-radius: 4px;
    color: #1c1e21;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    height: 36px;
    width: 50%;
    line-height: 20px

}
.ShortCaption
{
    border-radius: 4px;
    color: #1c1e21;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    height: 36px;
    width: 99.5%;
    line-height: 20px

}
 
.button {
   text-align: right;
   padding-left:-50%;
   padding-right: 0px;
   padding-top:8px ;
}
.button button{
    width: 180px;
    height:35px;
    border-radius: 4px;
    font-weight: bolder;
    color:whitesmoke;
    background-color: darkcyan;
    align-content: center;
    
}

    #description{
    border-radius: 4px;
    color: #393c41;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    resize: none;

    }
