/*Autor: Jelena Pančevski*/
.SiteName{
    display: inline;
    font-size:44px;
    color:whitesmoke;   
}

ul{
list-style-type: none;
margin: 0;
padding: 0;
}
.SiteMenus{
    display: inline;
    color:whitesmoke;
    font-weight:bolder;
    padding: 3%; 
    font-size:25px;
    text-decoration: none;
}
.UserPassword {
    padding: 10px;
    display:inline;
    font-weight:bolder;
    color:whitesmoke;
}
.Header{
    background-color:rgb(58, 58, 131);
    width:90%;
    position: absolute;
    left:5%;
    top:0%;
}
.DropdownCasting{
display: none;
position: absolute;
background-color: rgb(58, 58, 131);
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.DropdownCasting a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
    .Casting {
        position: relative;
        display: inline-block;
        }
 
 .DropdownCasting a:hover {background-color: rgb(66, 57, 57);}
 .Casting:hover .DropdownCasting {display: block;}
        #profileimage

        {  
            color: whitesmoke;
            font-weight:bolder;
            width:20px;
            height:20px;
        }
        
        #profile{
            position:absolute;
            top: 80px;
            right:0;
            width:200px;
            height:100px;
            border: 3px solid #73ad21;
        }
        .SelectedOption
        {
            height:100%;
            width:100%;
            position: absolute;
            top:10%;
            object-position: center;
        
        }
        .SelectedOption  object{

            height:100%;
            width:100%;
            
        }
        #content{
            height:100%;
            width:100%;
        }
