<!--Đorđe Milinović-->
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/spisakKandidata.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/assets/js/script.js"></script>
</head>

<table class = 'tableclass'>
    <tr>
        <td>
            <form method='post' class = "floating"><input type="submit" value="Kreiraj uzivo audiciju"></form>
            <form method='post' class = "floating" action="<?= base_url('Reditelj/zavrsi') ?>">
                <input type="submit" value="Završi audiciju">
  
            <?php   echo $string; 
            ?>
        </td>
    </tr>
</table>






</body>
</html>